:root {
  --hamburger-color: #EC553A;

  --brand-size: 12px;
}

@media (min-width: 900px) {
  :root {
    --brand-size: 16px;
  }
}

/* header and nav layout */
header .nav {
  position: fixed;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr auto 22px; 
  grid-template-rows: auto 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "brand language hamburger"
    "sections sections sections"; 
  align-items: center;
  width: 100%;
  top: 0;
  padding: 0 var(--spacing-s);
  background-color: var(--background-color);
  z-index: 9;
}

header .nav > * {
  /* border: 2px solid red; */
}

/* hamburger */
header .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  /* padding-top: var(--spacing-m); */
  cursor: pointer;
  /* padding: var(--spacing-m); */
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  display: block;
  position: relative;
  top: 8px;
  width: 22px;
  height: 2px;
  border-radius: 3px;
  background: var(--hamburger-color);
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav[aria-expanded='true'] .nav-hamburger-icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after,
header .nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  background: var(--hamburger-color);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header .nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding: var(--spacing-m) var(--spacing-s) var(--spacing-m) 0;
  /* font-weight: 700; */
  /* line-height: 1em; */
  font-family: var(--heading-font-family);
  font-size: var(--brand-size);
}

header .nav-brand p {
  display: flex;
  align-items: center;
  margin: 0;
}

header .nav-brand a {
  max-height: 36px;
}

header .nav-brand a:last-child {
  color: var(--text-color);
}

header .nav-brand a:last-child::before {
  content: "";
  border-left: 1px solid var(--border-color);
  margin-left: var(--spacing-s);
  padding-left: var(--spacing-s);
}

header .nav-brand img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: 0;
}

/* language switch */
header .nav-language-switch {
  grid-area: language;
}

/* sections */
header .nav-sections {
  grid-area: sections;
  /* flex-direction: column; */
  display: none;
  /* background-color: rgba(var(--background-color) / 92%); */
  /* width: 100vw; */
}

header .nav-sections h2 {
  /* font-size: 22px; */
}

header .nav-sections ul {
  /* list-style: none; */
  /* padding-left: 0; */
} 

header .nav-sections li {
  /* font-size: 20px; */
  /* font-weight: 700; */
}

header .nav[aria-expanded='true'] .nav-sections {
  display: block;
  /* align-self: flex-start; */
}

header .nav[aria-expanded='true'] .nav-sections .nav-social {
  display: none;
}

header .nav[aria-expanded='true'] {
  /* min-height: 100vh; */
}

/* desktop nav styles */
@media (min-width: 900px) {
  header .nav {
    /* grid-template-areas: 'brand sections'; */
    /* grid-template-columns: 200px 1fr; */
  }

  header .nav-hamburger {
    display: none;
  }

  header .nav-sections {
    /* display: flex; */
    /* flex-direction: row; */
    /* background-color: unset; */
    /* width: unset;         */
  }
  
  header .nav[aria-expanded='true'] .nav-sections {
    /* display: flex; */
    /* min-height: unset; */
  }

  header .nav-section {
    /* padding: 0 16px; */
    /* position: relative; */
  }

  header .nav-sections h2 {
    /* font-size: 18px; */
    /* margin: 0; */
    /* cursor: pointer; */
  }

  header .nav-section ul {
    /* display: none; */
  }

  header .nav-section li {
    /* font-size: 18px; */
    /* padding: 16px; */
  }

  header .nav-section[aria-expanded='true'] ul {
    /* display: block; */
    /* position: absolute; */
    /* background-color: var(--background-color); */
    /* width: 300px; */
    /* left: 0; */
  } 
}
