:root {
  --hamburger-color: #EC553A;
  --brand-size: 12px;
}

@media (min-width: 476px) {
  :root {
    --brand-size: 14px;
  }
}

@media (min-width: 576px) {
  :root {
    --brand-size: 20px;
  }
}

/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header .nav {
  position: fixed;
  display: grid; 
  grid-template: 'row hamburger' auto
    'sections sections' 1fr / 1fr 22px;
  align-items: center;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  padding: 0 var(--spacing-s);
  background: var(--background-color);
  z-index: 9;
}

@media (min-width: 992px) {
  header .nav {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "row"
      "sections";
    border-bottom: 0;
    padding: 0;
  }
}

/* hamburger */
header .nav-hamburger {
  grid-area: hamburger;
  height: 18px;
  cursor: pointer;
}

@media (min-width: 992px) {
  header .nav-hamburger {
    display: none;
  }
}

header .nav[aria-expanded='false'] .nav-hamburger-icon,
header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  display: block;
  position: relative;
  top: 8px;
  width: 22px;
  height: 2px;
  border-radius: 3px;
  background: var(--hamburger-color);
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after,
header .nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: "";
  position: absolute;
  top: -6px;
}

header .nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header .nav[aria-expanded=true] .nav-hamburger-icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header .nav[aria-expanded=true] .nav-hamburger-icon::after,
header .nav[aria-expanded=true] .nav-hamburger-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  background: var(--hamburger-color);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header .nav[aria-expanded=true] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* nav row */
header .nav-row {
  grid-area: row;
  display: grid; 
  grid-template: 'brand language' 1fr / 1fr auto;
  align-items: center;
}

@media (min-width: 992px) {
  header .nav-row {
    grid-template-columns: 1fr auto auto; 
    grid-template-areas: "brand social language";
    width: var(--container-width);
    margin: 0 auto;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding: var(--spacing-m) var(--spacing-s) var(--spacing-m) 0;
  font-family: var(--heading-font-family);
}

header .nav-brand p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--brand-size);
}

header .nav-brand a {
  max-height: 36px;
  text-decoration: none;
}

header .nav-brand a:last-child {
  color: var(--text-color);
}

header .nav-brand a:last-child::before {
  content: "";
  border-left: 1px solid var(--border-color);
  margin-left: var(--spacing-s);
  padding-left: var(--spacing-s);
}

header .nav-brand img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: 0;
}

@media (min-width: 768px) {
  header .nav-brand img {
    width: unset;
  }
}

/* language switch */
header .nav-language-switch {
  grid-area: language;
  position: relative;
  margin-right: var(--spacing-s);
  border-right: 1px solid var(--border-color);
  padding-right: var(--spacing-s);
  color: var(--detail-color);
  font-size: var(--body-font-size-xs);
  font-weight: var(--weight-semibold);
}

@media (min-width: 992px) {
  header .nav-language-switch {
    margin-left: var(--spacing-s);
    border-left: 1px solid var(--border-color);
    padding-left: var(--spacing-s);
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
  }
}

header .nav-language-switch a {
  text-decoration: none;
}

header .nav-language-switch #language-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

header .nav-language-switch #language-btn[aria-expanded=false] + .nav-language-switch-options {
  display: none;
  visibility: hidden;
}

header .nav-language-switch #language-btn span {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  header .nav-language-switch #language-btn span {
    display: unset;
    visibility: unset;
  }
}

header .nav-language-switch #language-btn img {
  height: var(--body-font-size-s);
  width: var(--body-font-size-s);
  margin-left: var(--spacing-xxs);
}

header .nav-language-switch .nav-language-switch-options {
  position: absolute;
  top: calc(var(--body-font-size-s) * 2);
  right: 0;
  width: max-content;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  list-style: none;
}

header .nav-language-switch .nav-language-switch-options li {
  padding: var(--spacing-s) 0;
}

header .nav-language-switch .nav-language-switch-options a {
  padding: 0 var(--spacing-m);
  color: var(--detail-color);
}

header .nav-language-switch .nav-language-switch-options a:hover {
  color: var(--link-hover-color);
}

/* social */
header .nav-social {
  grid-area: social;
  display: none;
  visibility: hidden;
}

@media (min-width: 992px) {
  header .nav-social {
    display: unset;
    visibility: unset;
  }
}

header .nav-social ul {
  display: flex;
  list-style: none;
}

header .nav-social li {
  border-radius: 50%;
  background: var(--link-color);
  text-align: center;
}

header .nav-social li:hover {
  background: var(--link-hover-color);
}

header .nav-social a {
  display: block;
  height: 32px;
  width: 32px;
}

header .nav-social li:not(:last-child) {
  margin-right: var(--spacing-s);
}

header .nav-social img {
  width: 16px;
  height: 16px;
  margin-top: var(--spacing-s);
}

/* sections */
header .nav-sections {
  grid-area: sections;
  display: none;
}

@media (min-width: 992px) {
  header .nav-sections {
    display: unset;
    background: var(--link-color);
  }
  
  header .nav-section {
    width: 100%;
    width: var(--container-width);
    margin: 0 auto;
  }
}

/* nav links */
header .nav-sections .nav-links {
  max-height: 426px;
  margin: 0;
  padding: var(--spacing-m);
  background: var(--detail-background-color);
  font-size: var(--body-font-size-s);
  font-weight: var(--weight-semibold);
  text-transform: uppercase;
  list-style: none;
  overflow-y: auto;
  margin-bottom: var(--spacing-s);
}

@media (min-width: 992px) {
  header .nav-sections .nav-links {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: var(--spacing-m) 0;
    background: var(--link-color);
  }
}

header .nav-sections .nav-links li {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-s) 0;
}

@media (min-width: 992px) {
  header .nav-sections .nav-links li {
    border-bottom: 0;
    padding: 0;
  }

  header .nav-sections .nav-links li:not(:last-child) {
    margin-right: var(--spacing-s);
  }
}

header .nav-sections .nav-links a {
  display: block;
}

header .nav-sections .nav-links a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

@media (min-width: 992px) {
  header .nav-sections .nav-links a {
    color: var(--background-color);
    padding: 0 var(--spacing-xs);
  }
  
  header .nav-sections .nav-links a:hover {
    background: var(--link-hover-color);
    color: var(--background-color);
  }
}

header .nav[aria-expanded=true] .nav-sections {
  display: block;
}
/* stylelint-enable no-descending-specificity */
