@media (min-width: 992px) {
  main .featured-card .card {
    display: flex;
    align-items: center;
  }
}

/* featured card img */
main .featured-card .card picture {
  display: block;
  position: relative;
  height: calc(100vw * .485);
}

@media (min-width: 992px) {
  main .featured-card .card .card-img-wrapper {
    flex: 0 0 50%;
  }

  main .featured-card .card picture {
    width: 100%;
    height: calc(50vw * .485);
  }
}
