main .carousel-container .carousel-wrapper {
  position: relative;
  width: 100%;
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

@media (min-width: 992px) {
  main .carousel-container .carousel-wrapper {
    padding: 0;
  }
}

main .carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

main .carousel::-webkit-scrollbar { 
  display: none; /* Safari and Chrome */
}

/* slide */
main .carousel > div,
main .carousel .carousel-slide-card {
  flex-shrink: 0;
  width: 100%;
}

@media (min-width: 576px) {
  main .carousel > div,
  main .carousel .carousel-slide {
    width: calc(50% - (var(--spacing-xs) * 2));
    margin: 0 var(--spacing-xs);
  }
}

@media (min-width: 992px) {
  main .carousel > div,
  main .carousel .carousel-slide {
    width: calc((100% / 3) - (var(--spacing-s) * 2));
    margin: 0 var(--spacing-s);
  }
}

@media (min-width: 1200px) {
  main .carousel > div,
  main .carousel .carousel-slide {
    width: calc(25% - (var(--spacing-m) * 2));
    margin: 0 var(--spacing-m);
  }
}

main .carousel .carousel-slide-card {
  border: 1px solid var(--border-color);
}

main .carousel > div > div > *:not(picture),
main .carousel .carousel-slide > div > *:not(picture) {
  padding: 0 32px;
}

main .carousel > div h2,
main .carousel > div h3 {
  font-size: var(--heading-font-size-s);
}

main .carousel > div h2 a,
main .carousel > div h3 a {
  color: var(--text-color);
}

/* carousel img */
main .carousel .carousel-slide div > a:first-child {
  margin: 0;
  padding: 0;
}

main .carousel-slide-card picture {
  display: block;
  position: relative;
  height: calc(100vw * .485);
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 576px) {
  main .carousel-slide-card picture {
    height: calc(50vw * .485);
  }
}

@media (min-width: 992px) {
  main .carousel-slide-card picture {
    height: calc(calc(100vw / 3) * .485);
  }
}

@media (min-width: 1200px) {
  main .carousel-slide-card picture {
    height: calc(25vw * .485);
  }
}

main .carousel-slide-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* carousel nav */
main .carousel .carousel-nav {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

main .carousel .carousel-nav.carousel-nav-left {
  left: var(--spacing-xs);
}

main .carousel .carousel-nav.carousel-nav-right {
  right: var(--spacing-xs);
}

main .carousel .carousel-nav.carousel-nav-disabled {
  cursor: default;
}

main .carousel .carousel-nav.carousel-nav-disabled img {
  opacity: .33;
}

main .carousel .carousel-nav img {
  width: 16px;
  height: 16px;
}
