@media (min-width: 992px) {
  main .dropdown-links-container.dropdown-links-or {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: var(--container-width);
    margin: auto;
  }

  main .dropdown-links-container.dropdown-links-or > *:not(.dropdown-links-wrapper) {
    flex-basis: max-content;
    margin: 0;
  }
}

main .dropdown-links-container.dropdown-links-or .or-detail {
  margin: var(--spacing-s) 0;
  text-align: center;
}

@media (min-width: 992px) {
  main .dropdown-links-container.dropdown-links-or .dropdown-links-wrapper {
    max-width: 360px;
    margin: 0;
  }
}

main .dropdown-links {
  position: relative;
  font-size: var(--body-font-size-s);
}

main .dropdown-links a {
  text-decoration: none;
}

/* dropdown button */
main .dropdown-links .dropdown-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-m);
  background: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
}

main .dropdown-links .dropdown-btn img {
  width: var(--body-font-size-s);
}

main .dropdown-links-wrapper + .dropdown-links-wrapper { /* adjacent */
  margin-top: var(--spacing-m);
}

/* dropdown options */
main .dropdown-links .dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--link-hover-color);
  background: var(--link-color);
  color: var(--background-color);
  list-style: none;
  z-index: 6;
}

main .dropdown-links .dropdown-btn[aria-expanded=false] + .dropdown-options {
  display: none;
  visibility: hidden;
}

main ul.dropdown-options {
  max-height: 244px;
  overflow-y: auto;
}

main .dropdown-links .dropdown-options a {
  display: block;
  padding: var(--spacing-xs) var(--spacing-m);
  color: var(--background-color);
}

main .dropdown-links .dropdown-options a:hover {
  background: var(--link-hover-color);
}

/* dropdown options filter */
main .dropdown-filter-wrapper {
  padding: var(--spacing-s);
}

/* stylelint-disable-next-line no-descending-specificity */
main .dropdown-filter-wrapper img {
  position: absolute;
  top: 50%;
  right: var(--spacing-m);
  height: var(--body-font-size-m);
  width: var(--body-font-size-m);
  transform: translateY(-50%);
}

main .dropdown-filter {
  width: 100%;
  border-color: var(--link-color);
}

main .dropdown-filter:focus,
main .dropdown-filter:hover {
  border-color: var(--link-hover-color);
}

main .dropdown-links .dropdown-options .dropdown-option.hide {
  display: none;
  visibility: hidden;
}
