main .list {
  font-size: var(--body-font-size-s);
}

@media (min-width: 992px) {
  main .list.list--2-column- {
    display: flex;
    flex-wrap: wrap;
  }

  main .list.list--2-column- .list-row {
    flex: 0 0 calc(50% - var(--spacing-s));
  }

  main .list.list--2-column- .list-row:nth-of-type(odd) {
    margin-right: var(--spacing-s);
  }

  main .list.list--2-column- .list-row:nth-of-type(even) {
    margin-left: var(--spacing-s);
  }
}

main .list h2,
main .list h3 {
  margin: var(--spacing-s) 0;
  font-size: var(--heading-font-size-s);
}

main .list h2 a,
main .list h3 a {
  color: var(--text-color);
}

main .list .list-row {
  border-bottom: 1px solid var(--border-color);
}

main .list .list-row {
  width: 100%;
  padding: var(--spacing-l) 0;
}

main .list .list-row-2-col {
  display: flex;
}

main .list .list-row-2-col h2,
main .list .list-row-2-col h3 {
  margin-top: 0;
}

main .list .list-row-2-col .list-col:first-of-type {
  flex: 0 0 110px;
  margin-right: var(--spacing-m);
}

main .list .list-row-2-col .list-col:first-of-type p {
  margin-top: 0;
}

main .list .list-row-2-col .list-col:last-of-type {
  flex: 1 0;
}