main .list h2,
main .list h3 {
  margin: var(--spacing-s) 0;
  font-size: var(--heading-font-size-s);
}

main .list h2 a,
main .list h3 a {
  color: var(--text-color);
}

main .list .list-row {
  border-bottom: 1px solid var(--border-color);
}

main .list .list-row {
  padding: var(--spacing-l) 0;
}

main .list .list-btn {
  background: var(--background-color);
  color: var(--link-color);
  font-size: var(--body-font-size-m);
}

main .list .list-btn:hover {
  background: var(--background-color);
  color: var(--link-hover-color);
}

main .list .list-btn::after {
  content: '\203A';
  padding-left: var(--spacing-s);
  font-size: var(--heading-font-size-m);
  line-height: .6;
}
